@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    background-color: #A9B3CE;
    color: #474954;
    font-family: 'Mali', sans-serif;
    --color-primary: #7284A8;
    --color-primary-light: #A9B3CE;
    --color-secondary: #474954;
    --color-error: #563b4b;
    --color-success: #215F36;
    --border-radius: 15px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

h1 {
    color: #2E3532;
    text-align: center;
    font-size: 60px;
}

.form_title {
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#web-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

#web-subtitle {
    margin-top: 0px;
}

.container {
    width: 500px;
    max-width: 500px;
    height: fit-content;
    margin: 5px;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--color-primary);
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top:0;
}

.form > *:last-child {
    margin-bottom:0;
}

.form_message {
    text-align: center;
    margin-bottom: 0.5rem;
}

.form_message-success {
    color: var(--color-success);
}

.form_message-error {
    color: var(--color-error);
}

.form_input-group {
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px dashed var(--color-primary-light);
    background-color: var(--color-secondary);
    outline: none;
    transition: background 0.2s, border-color 0.2s, transform 0.2s;
}

::placeholder {
    color: var(--color-primary-light);
    opacity: 1;
    font-family: 'Mali', sans-serif;
}

input[type='text'] {
    font-family: 'Mali', sans-serif;
}

.form_input:focus {
    border-color: #222329;
    background: #505e7a;
}

.form_input-error {
    color: #cca7bd;
    border-color: #cca7bd;
}

.form_input-error-message {
    color: #563b4b;
    margin-top: 0.75rem;
    font-size: 1rem;
    text-align: left;
}

input, select, textarea {
    color: #A9B3CE;
}

input:focus, textarea:focus {
    color: #A9B3CE;
}

.form_button {
    width: 100%;
    font-size: 20px;
    padding: 0.75rem 0.75rem;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius);
    border: dashed;
    border-color: var(--color-secondary);
    cursor: pointer;
}

.form_button:active {
    transform: scale(0.95);
}

.form_button:hover {
    color: #A9B3CE;
    background-color: #1e1f24;
    border-color: #09090a;
    transform: none;
}

.form_text {
    text-align: center;
}

.form_link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

#homebtn {
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    padding: 0.75rem 0.75rem;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius);
    border: dashed;
    border-color: var(--color-secondary);
    cursor: pointer;
}

#homebtn a {
    text-decoration: none;
    color: var(--color-secondary);
}

#homebtn:active {
    transform: scale(0.95);
}

#homebtn:hover {
    color: #A9B3CE;
    background-color: #1e1f24;
    border-color: #09090a;
    transform: none;
}

#homebtn:hover a {
    color: #A9B3CE;
}

::selection {
    color:#DCE1EA;
    background-color: var(--color-secondary);
}
